@import "../../node_modules/primeflex/primeflex.css";

/* global.css */
body {
  max-width: 100%;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  /* Change 'Roboto' to your desired font family */
}

@media (max-width: 768px) {
  .topAdDesktop {
    max-width: 100%;
    display: none;
    /* hide desktop ad container */
  }

  .sideAdDesktop {
    position: fixed;
    width: 200px;
    top: 0;
    right: 0;
    height: 100%;
    padding: 10px;
    display: none;
  }

  .topAdMobile {
    max-width: 100%;
    text-align: left; 
    display: block;
    /* show mobile ad container */
  }
  .bottomAdMobile {
    max-width: 100%;
    text-align: left; 
    display: block;
    margin-bottom: 50px;

  }
  .bottomAdDesktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .topAdDesktop {
    text-align: center;
    display: none;
    /* show desktop ad container */
  }

  .sideAdDesktop {
    position: fixed;
    width: 160px;
    top: 0;
    right: 0;
    height: 100%;
    padding: 10px;
    display: block;
  }
  .bottomAdMobile {
    display: none;

  }
  .bottomAdDesktop {
    margin-bottom: 50px;
    min-width: 425px;
    text-align: center; 
    display: block;
  }
  .topAdMobile {
    text-align: center;
    display: none;
    /* hide mobile ad container */
  }
}